<footer class="enhanced-footer">
    <div class="footer-content">
        <div class="footer-section project-info">
            <h3>About DICOMHawk</h3>
            <p>Version 1.2.3 | Last Updated: February 2025</p>
            <p>DICOM Protocol Support: v3.0</p>
            <p>Data Capture: All SOP Classes</p>
        </div>
        
        <div class="footer-section resources">
            <h3>Resources</h3>
            <p><i class="fa fa-github"></i> <a href="https://github.com/honeynet/DICOMHawk" target="_blank">GitHub Repository</a></p>
            <p><i class="fa fa-file-alt"></i> <a href="https://github.com/honeynet/DICOMHawk/blob/main/CONTRIBUTORS.md" target="_blank">Contributors</a></p>
            <p><i class="fa fa-book"></i> <a href="https://github.com/honeynet/DICOMHawk/blob/main/README.md" target="_blank">Documentation</a></p>
        </div>
        
        <div class="footer-section security-resources">
            <h3>Security Resources</h3>
            <p><i class="fa fa-shield-alt"></i> <a href="https://www.owasp.org/" target="_blank">OWASP Foundation</a></p>
            <p><i class="fa fa-hospital"></i> <a href="https://www.hhs.gov/hipaa/" target="_blank">HIPAA Compliance</a></p>
            <p><i class="fa fa-bug"></i> <a href="https://www.mitre.org/publications/all/finding-cyber-threats-with-honeypots" target="_blank">Honeypot Best Practices</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 DICOMHawk | <a href="https://github.com/honeynet/DICOMHawk/blob/main/LICENSE">License</a> | Built with <i class="fa fa-heart" style="color: #ff6b6b;"></i> for medical security research</p>
    </div>
</footer>